<h1>My Feed</h1>
<div class="span3">
  <% current_user.user_events.each do |event| %>
    <li>
      <% if event.type == "PushEvent" %>
        Pushed <%= event.payload.size %> commit(s) to <%= link_to event.repo.name, "https://github.com/#{event.repo.full_name}" %>
      <% elsif event.type == "PullRequestEvent" %>
        <%= event.payload.action.capitalize %> a pull request for <%= link_to event.repo.name, event.repo.url %>
      <% elsif event.type == "IssuesEvent" %>
        <%= event.payload.action.capitalize %> an issue for <%= link_to event.repo.name, event.repo.url %>
      <% else %>
        <%= event.type %> to <%= link_to event.repo.name, event.repo.url %>
      <% end %>
    </li>
  <% end %>
</div>
